* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.tif binary
*.tiff binary
*.pdf binary
*.zip binary
*.kmz binary
*.blend binary
*.pyc binary
*.pyd binary
*.dll binary
*.exe binary
